@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.container{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: #282f43;
    
    background-color: #e6f1e8;
}

.header, .main, .total, .cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.header, .main{
    flex-direction: column;
}


.header{
    width: 100%;
    flex: 1;
    color: #71635b;
    background-color: #eef9f2;
    padding: 4%;
    text-align: center;
    font-size: 12px;
}

.header h1{
    font-size: 40px;
}


.main{
    width: 100%;
    flex: 14;
}

.total, .cabecalho, .limitacoes{
    width: 100%;
    justify-content: space-between;
    padding:  1% 5%;
}

.limitacoes{
    display: flex;
    padding-bottom: 10px;
}

.total{
    background-color: #282f43;
    color: #eef9f2;
}

.cabecalho{
    background-color: #eef9f2;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cabecalhos{
    width: 100%; 
    flex:1;
    
}

.pesquisa, .filtro{
    background-color: #78A1BB;
    color: #1d2331;
    border: 2px solid #1d2331;
    padding: 2%;
    border-radius: 7px;
    font-size: 15px;
}
input::placeholder{
    color: #1d2331;
    font-style: italic;
}

.titulo{
    color: #282f43;
    font-size: 30px;
    margin: 10px;
}