@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.container{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: #282f43;
    
    background-color: #e6f0f1;
}

.header, .main, .total, .cabecalho, .produto, .todasInformacoes, .cabecalhos, .addProduto, #formAddProduto{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.header, .main, .listagem, .produto, .cabecalhos, #formAddProduto{
    flex-direction: column;
}


.header{
    width: 100%;
    flex: 1;
    color: #ffffff;
    background-color: #a88c80;
    padding: 2%;
    text-align: center;
    font-size: 12px;
    box-shadow: 0px 1px 20px rgba(160, 125, 108, 0.5);

}

.header h1{
    font-size: 40px;
}


.main{
    width: 100%;
    flex: 14;
}

.total, .cabecalho, .limitacoes{
    width: 100%;
    justify-content: space-between;
    padding:  1% 5%;
}

.limitacoes{
    display: flex;
}

.total{
    background-color: #282f43;
    color: #eef2f9;
    box-shadow: 0px 0.5px 20px rgba(184, 154, 139, 0.5);
    margin-top: 10px;
    margin-bottom: 15px;
}

.cabecalhos{
    width: 100%;
    height: auto;
}

.cabecalhos a{
    background-color: #ffffff;
    color: #1d2331;
    text-decoration: none;
    width: 90%;
    height: 10%;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0px 0.5px 20px rgba(184, 154, 139, 0.5);

}

.pesquisa, .filtro{
    background-color: #92c0dc;
    color: #1d2331;
    border: none;
    padding: 4%;
    border-radius: 7px;
    font-size: 15px;
}

.pesquisa{
    width: 100%;
}

input::placeholder{
    color: #1d2331;
    font-style: italic;
}

.titulo{
    color: #282f43;
    font-size: 35px;
    margin: 10px;
    height: min-content;
}

.produto{
    width: 100%;
    justify-content: left;
    font-size: 16px;
    border-bottom: 1px solid #1d2331 ;
    margin: 1% 0;
    padding-bottom: 4%;
    gap: 10px;
}

.todasInformacoes{
    width: 100%;
}


.informacoes{
    flex: 3;
    font-size: 22px;
}

.informacoes h5{
    font-size: 15px;
    color: #426e89;
}



.produto h3{
    flex: 2;
    text-align: right;
    font-size: 20px;
}

.listagem{
    display: flex;
    flex: 1;
    align-items: start;
    width: 100vw;
    padding: 1% 5%;
}

.opcoes a{
    background-color: #a79086;
    width: 100%;
    height: 40%;
    text-align: center;
    text-decoration: none;
    color: #e6f1e8;
    border-radius: 7px;
}

.opcoes{
    width: 100%;
    display: flex;
    gap: 20px;
}

.addProduto{
    width: 90%;
}

.addProduto button{
    
    border: none;
    padding: 2%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    width: 100%;
    
}

#addProduto, .addProduto button{
    background-color: #ffffff;
    color:#282f43;
    padding: 2%;
    
    font-size: 16px;
    
}

#addProduto{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 90%;

}